.info-card {
  position: absolute;
  top: 15%;
  right: 2%;
  background: #13080e;
  border: 2px solid #e8ab8c;
  height: clamp(300px, 48vh, 600px);
  width: clamp(200px, 20%, 400px);
  z-index: 10;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #e8ab8c inset;
  animation: fadeIn 2s linear;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;
}

.infocard-title {
  margin: 20px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'SpaceFont';
}

.infocard-back-button {
  background-color: #e8ab8c;
  border: none;
  color: white;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  transition: 200ms all;
}

.infocard-back-button:hover {
  background-color: white;
  color: #e8ab8c;
}

.infocard-field,
.infocard-fact,
.infocard-title {
  color: #e8ab8c;
}

.infocard-fact {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}


