.info-card {
  position: absolute;
  top: 12%;
  right: 2%;
  background: #13080e;
  border: 2px solid #e8ab8c;
  height: clamp(300px, 40vh, 600px);
  width: clamp(200px, 18%, 400px);
  z-index: 10;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #e8ab8c inset;
  animation: fadeIn 2s;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.infocard-title {
  margin: 20px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infocard-back-button {
  background-color: #e8ab8c;
  border: none;
  color: white;
  height: 40px;
  border-radius: 3px;
}

.infocard-field,
.infocard-fact,
.infocard-title {
  color: #e8ab8c;
}

.infocard-fact {
  margin-top: 50px;
}



