.navbar-container {
  position: absolute;
  top: 0;
  width: clamp(100px, 15%, 300px);
  background: #13080e;
  border-right: 2px solid #e8ab8c;
  border-radius: 0 10px 10px 0;
  padding-right: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 7%;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
}

@keyframes navbar-slide {
  0% {
    transform: translateX(-300px)
  }
  100% {
    transform: translateX(0)
  }
}

.planet-selector {
  text-decoration: none;
  color: #e8ab8c;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: clamp(20px, 10%, 50px);
  transition: 200ms all ease-out;
  animation: 2s navbar-slide linear;
  font-family: 'SpaceFont';
}

.planet-selector:hover {
  color: whitesmoke;
}

.active {
  color: whitesmoke;
}
