.navbar-container {
  position: absolute;
  top: 0;
  width: 15%;
  background: linear-gradient(black, rgb(92, 92, 92));
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 7%;
  align-items: flex-end;
  justify-content: center;
}

.planet-selector {
  text-decoration: none;
  color: rgb(225, 225, 117);
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}

.active {
  color: whitesmoke;
}
