.mercury, .venus, .earth, .mars, .saturn, .jupiter, .uranus, .neptune {
  bottom: 10%;
  left: 30%;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  transition: width 500ms linear, height 500ms linear;
  animation: zoom-in 1s linear;
}

.mercury {
  height: 26vh;
  width: 26vh;
  background: var(--mercury-background);
  box-shadow: .3em -.3em .5em #ccc, inset 1em -1em .5em #000;
}

.venus {
  height: 35vh;
  width: 35vh;
  background: var(--venus-background);
  box-shadow: 4px -4px 10px rgb(255, 174, 0, .6), inset 1em -1em .5em #000;
}

.earth {
  height: 36vh;
  width: 36vh;
  background: var(--earth-background);
  background-position: 30% 20%;
  box-shadow: 1em -.5em 1em 3px rgb(250, 250, 250, .6), inset 1em -1em .5em #000;
}

.earth-clouds {
  position: relative;
  background: whitesmoke;
  width: 100px;
  top: 20%;
  left: 20%;
  border-radius: 45%;
  height: 50px;
  opacity: .8;
  animation: hover 2.5s infinite;
}

@keyframes hover {
  0% {
    top: 20%;
  }
  50% {
    top: 19%;
  }
  0% {
    top: 20%;
  }
}

.mars {
  height: 32vh;
  width: 32vh;
  background: var(--mars-background);
  box-shadow: 2px -2px 5px 3px rgb(233, 164, 35, .6), inset 1em -1em .5em #000;
}

.jupiter {
  height: 50vh;
  width: 50vh;
  background: var(--jupiter-background);
  box-shadow: 3px -3px 10px 5px rgba(159, 158, 155, 0.6), inset 1em -1em .5em #000;
}

.jupiter::after {
  content: "";
  height: 50px;
  width: 55px;
  position: absolute;
  top: 32vh;
  left: 10vh;
  border-radius: 50%;
  background: radial-gradient(#e8e8e8, #bc7849);
  animation: storm 5s infinite linear, slowFade 1s linear;
  border-style: groove #d98b16;
}

@keyframes storm {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes slowFade {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

.saturn {
  height: 47vh;
  width: 47vh;
  background: var(--saturn-background);
  box-shadow: 3px -3px 7px 4px rgba(150, 150, 150, 0.5), inset 1em -1em .5em #000;
  transform-style: preserve-3d;
}

.saturn-rings {
  height: 55vh;
  width: 55vh;
  content: "";
  top: calc(47vh * -.2);
  left: calc(47vh * -.2);
  border: 50px solid silver;
  outline: 50px solid silver;
  outline-offset: 5px;
  border-radius: 50%;
  position: absolute;
  transform: rotate3d(1, 0, 0, 70deg);
  z-index: 0;
  opacity: .8;
}

.uranus {
  height: 45vh;
  width: 45vh;
  background: var(--uranus-background);
  box-shadow: 3px -3px 6px 6px hsl(197, 11%, 24%, 0.5), inset 1em -1em .5em #000;
}

.neptune {
  height: 43vh;
  width: 43vh;
  background: var(--neptune-background);
  box-shadow: 2px -2px 5px 4px hsl(197, 11%, 24%, 0.5), inset 1em -1em .5em #000;
}
