.mercury, .venus, .earth, .mars, .saturn, .jupiter, .uranus, .neptune {
  bottom: 10%;
  left: 30%;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  animation: swoop 1s linear;
}

.mercury {
  height: 300px;
  width: 300px;
  background: linear-gradient(to top right, black, rgb(70, 70, 70), white);
  box-shadow: 3px -3px 7px whitesmoke;
}

.venus {
  height: 350px;
  width: 350px;
  background: linear-gradient(to top right, black, rgb(255, 174, 0), white);
  box-shadow: 4px -4px 10px rgb(255, 174, 0, .6);
}

.earth {
  height: 360px;
  width: 360px;
  background-image: url('../../../public/earth.png');
  background-position: 270px 450px;
}

.mars {
  height: 320px;
  width: 320px;
  background: linear-gradient(to top right, black, rgb(255, 102, 0), rgb(233, 164, 35));
  box-shadow: 2px -2px 5px 3px rgb(233, 164, 35, .6);
}

.jupiter {
  height: 460px;
  width: 460px;
  background: linear-gradient(to top right, black, white, orange);
}

.saturn {
  height: 445px;
  width: 445px;
  background: red;
}

.uranus {
  height: 425px;
  width: 425px;
  background: red;
}

.neptune {
  height: 400px;
  width: 400px;
  background: red;
}

/* Entry Animation */

@keyframes swoop {
  0% {
    bottom: 10%;
    opacity: 0
  }
  50% {
    bottom: 0;
    opacity: 0
  }
  100% {
    bottom: 10%;
    opacity: 1
  }
}
