.main-page-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-image: url('../../../public/night-sky.webp');
  background-size: 150% 150%;
  animation: rotate 500s infinite linear;
}

@keyframes rotate {
  0% { background-position: 100% 0;}
  50% { background-position: 0 0;}
  100% { background-position: -100% 0;}
}

.title {
  color: #e8ab8c;
  font-size: 48px;
  text-align: center;
  animation: fadeIn 3s;
  z-index: 2;
  font-family: 'SpaceFont';
}

@font-face {
  font-family: 'SpaceFont';
  src: url('../../../public/MandatoryPlaything-nRRd0.ttf')
}

@keyframes fadeIn{
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.creator {
  color: white;
  font-size: 12px;
  text-align: center;
  animation: fadeIn 5s;
  z-index: 2;
}

.github-link {
  color: white;
  margin-left: 5px;
}
