body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

:root {
  --menu-brown: #13080e;
  --space-orange: #e8ab8c;
  --active-white: rgb(245, 245, 245);
  --mercury-background: linear-gradient(to top right, black, rgb(70, 70, 70), white);
  --venus-background: linear-gradient(to top right, black, rgb(255, 174, 0), white);
  --earth-background: url('../public/earth.png');
  --mars-background: linear-gradient(to top right, black, rgb(255, 102, 0), rgb(233, 164, 35));
  --jupiter-background: repeating-linear-gradient(to top, #a58876, #fdf0dc, #e09d6e, #fdf0dc, #a58876);
  --saturn-background: linear-gradient(to top right, black, #d5bd9b);
  --uranus-background: linear-gradient(to top right, black, #2b3235, #7d97a1);
  --neptune-background: linear-gradient(to top right, black, #141924, #718bca);
}
