.solar-system {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mercury-orbit, .venus-orbit, .earth-orbit, .mars-orbit, 
.jupiter-orbit, .saturn-orbit, .uranus-orbit, .neptune-orbit {
  border-radius: 50%;
  position: absolute;
  outline: 1px solid whitesmoke;
}

.tiny-mercury, .tiny-venus, .tiny-earth, .tiny-mars,
.tiny-jupiter, .tiny-saturn, .tiny-uranus, .tiny-neptune {
  border-radius: 50%;
  position: absolute;
}

.tiny-sun {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: rgb(232, 232, 0);
  box-shadow: -4px 2px 58px rgba(247, 212, 123, 0.7);
  z-index: 0;
}

.mercury-orbit {
  width: 9vh;
  height: 9vh;
  animation: orbit 880ms infinite linear;
  outline-offset: -5px;
}

.tiny-mercury {
  background: grey;
  width: 10px;
  height: 10px;
  top: 50%;
}

.venus-orbit {
  width: 15vh;
  height: 15vh;
  animation: orbit 2240ms infinite linear;
  outline-offset: -1vh;
  position: absolute;
}

.tiny-venus {
  background: green;
  width: 2vh;
  height: 2vh;
  left: 50%;
}

.earth-orbit {
  width: 22vh;
  height: 22vh;
  animation: orbit 3650ms infinite linear;
  outline-offset: -1vh;
}

.tiny-earth {
  background: blue;
  width: 2vh;
  height: 2vh;
  bottom: 50%;
}

.mars-orbit {
  width: 30vh;
  height: 30vh;
  animation: orbit 6780ms infinite linear;
  outline-offset: -1vh;
}

.tiny-mars {
  background: red;
  width: 2vh;
  height: 2vh;
  right: 50%;
}

.jupiter-orbit {
  width: 45vh;
  height: 45vh;
  animation: orbit 43310ms infinite linear;
  outline-offset: -2.5vh;
}

.tiny-jupiter {
  background: rgb(255, 187, 0);
  width: 5vh;
  height: 5vh;
  top: 50%;
}

.saturn-orbit {
  width: 65vh;
  height: 65vh;
  animation: orbit 107470ms infinite linear;
  outline-offset: -2.25vh;
}

.tiny-saturn {
  background: rgb(104, 98, 83);
  width: 4.5vh;
  height: 4.5vh;
  right: 50%;
}

.uranus-orbit {
  width: 80vh;
  height: 80vh;
  animation: orbit 305890ms infinite linear;
  outline-offset: -2.1vh;
}

.tiny-uranus {
  width: 4.2vh;
  height: 4.2vh;
  background:rgb(16, 124, 145);
  bottom: 50%;
}


.neptune-orbit {
  height: 95vh;
  width: 95vh;
  animation: orbit 598000ms infinite linear;
  outline-offset: -2vh;
}

.tiny-neptune {
  width: 4vh;
  height: 4vh;
  background: blue;
  border-radius: 50%;
  right: 50%;
}

@keyframes orbit {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
