.solar-system {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mercury-orbit, .venus-orbit, .earth-orbit, .mars-orbit, 
.jupiter-orbit, .saturn-orbit, .uranus-orbit, .neptune-orbit {
  border-radius: 50%;
  /* border: 1px solid rgb(212, 205, 205); */
  position: absolute;
}

.tiny-mercury, .tiny-venus, .tiny-earth, .tiny-mars,
.tiny-jupiter, .tiny-saturn, .tiny-uranus, .tiny-neptune {
  border-radius: 50%;
}

.tiny-sun {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: rgb(232, 232, 0);
  box-shadow: -4px 2px 58px rgba(247, 212, 123, 0.7);
  z-index: 2;
}

.mercury-orbit {
  width: 5em;
  height: 5em;
  animation: orbit 880ms infinite linear;
}

.tiny-mercury {
  background: grey;
  width: 10px;
  height: 10px;
  position: relative;
  left: calc(7em / 2)
}

.venus-orbit {
  width: 7em;
  height: 7em;
  animation: orbit 2240ms infinite linear;
  position: absolute;
}

.tiny-venus {
  background: green;
  width: 2vh;
  height: 2vh;
}

.earth-orbit {
  width: 10em;
  height: 10em;
  animation: orbit 3650ms infinite linear;
}

.tiny-earth {
  background: blue;
  width: 2vh;
  height: 2vh;
}

.mars-orbit {
  width: 14em;
  height: 14em;
  animation: orbit 6780ms infinite linear;
}

.tiny-mars {
  background: red;
  width: 2vh;
  height: 2vh;
}

.jupiter-orbit {
  width: 25em;
  height: 25em;
  animation: orbit 43310ms infinite linear;
}

.tiny-jupiter {
  background: rgb(255, 187, 0);
  width: 5vh;
  height: 5vh;
}

.saturn-orbit {
  width: 30em;
  height: 30em;
  animation: orbit 107470ms infinite linear;
}

.tiny-saturn {
  background: rgb(104, 98, 83);
  width: 4.5vh;
  height: 4.5vh;
}

.uranus-orbit {
  width: 75vh;
  height: 75vh;
  animation: orbit 305890ms infinite linear;
}

.tiny-uranus {
  width: 4.2vh;
  height: 4.2vh;
  background:rgb(16, 124, 145)
}


.neptune-orbit {
  height: 90vh;
  width: 90vh;
  animation: orbit 598000ms infinite linear;
}

.tiny-neptune {
  width: 4vh;
  height: 4vh;
  background: blue;
  border-radius: 50%;
  position: relative;
}



@keyframes orbit {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
